<mat-toolbar>
  <span>Dá para fazer Receitas</span>
</mat-toolbar>

<section class="content-container">
  <p><a routerLink='/recipes'>Listar receitas</a></p>
</section>

<section class="content-container">
  <p><a routerLink='/new_recipe'>Nova Receita</a></p>
</section>

<section class="content-container">
  <p><a routerLink='/ingredients'>Listar ingredientes</a></p>
</section>

<section class="content-container">
  <p><a routerLink='/new_ingredient'>Novo Ingrediente</a></p>
</section>

<router-outlet></router-outlet>